.products-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 2rem;
}

.mb-5 {
  margin-bottom: 3.5rem;
}

.mt-5 {
  margin-top: 3.5rem;
}

.more-products {
  font-weight: 500;
  color: var(--dark-text);
  margin-bottom: 1.5rem;
}
